<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lumiere-a.akamaihd.net/v1/images/thesimpsons_couch_zoom_aa570da9.jpeg);">
      <div class="container">
        <h1>Movies Lists!</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
